.head {}
.foot {}
.jumbotron > img {
    display: block;
    margin: 0 auto;
}
.imageAndText {position: relative;}
.imageAndText .col {position: absolute; z-index: 1; top: 0; left: 0;}

.introWelcome {
  font-size: 1000%;
}
.userPadding {
  padding-left:1em;
}
.head{
	background-color: #2765B0;
}

.wordColors {
  color: #2765B0;
}
