<div class="imageAndText">
    <img src="/images/home1.jpg" class="align-center img-responsive" alt="" width="1600" />
    <div class="col">
        <div class="col-sm-4">
            <h1 class="introWelcome">Welcome</h1>
            {{#if user}}
                <h2 class="userPadding">{{user.first_name}} {{user.last_name}} {{user.username}}</h2>
            {{else}}
                <h2 class="userPadding">Guest</h2>
            {{/if}}
        </div>
    </div>
</div>
