<h1>Index</h1>

{{#if user}}
<h3>ID: {{user.id}}</h3>
<h3>User: {{user.username}}</h3>
<h3>Pass: {{user.password}}</h3>
{{else}}
<h3>Welcome, Guest</h3>
<form action= "/login">
<button class="buttons">Login</button>
</form>
<form action="/signup">
<button class="buttons">Sign up!</button>
</form>
{{/if}}
