<h1>Index</h1>

{{#if user}}
<h3>ID: {{user.id}}</h3>
<h3>User: {{user.username}}</h3>
<h3>Pass: {{user.password}}</h3>
{{else}}
<h3>Welcome, Guest</h3>
{{/if}}


<div class="container">

<div class="jumbotron">
  <img src="/images/home1.jpg" alt="" width="1000"/>
</div>

</div>
