<div class="container">

    <div class="text-center">
        <h1 class="wordColors"><strong>My Bookings</strong></h1>
    </div>
    <br>
    <div class="align-center">
        <table class="table">
            <thead class="text-center">
                <tr>
                    <td><b>Booking ID</b></td>
                    <td><b>Tour ID</b></td>
                    <td><b>Date</b></td>
                    <td>

                    </td>
                </tr>
            </thead>
            <tbody class="text-center">

                {{#each myBookings}}
                    <tr> ​
                        <td>{{this.booking_id}}</td>
                        <td>{{this.tour_id}}</td>
                        <td>{{this.date_of_booking}}</td>
                        <td>
                            <form class="" action="/deleteBooking/deleteBooking" method="post">
                              <input name="bookingId" type="hidden" value="{{this.booking_id}}" />
                                <button class="btn btn-danger" type="submit" name="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;CANCEL</button>
                            </form>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <br><br><br>
    </div>
</div>
