<h1>All Tours</h1>


<div class= "table-div">
<table align="left" width="100%" position="absolute">
{{#each Tours}} ​
<tr width="100%">
<td width="30%">
<p>{{this.tour_name}}</p>
</br>
<img src="{{this.map_image}}" style="width:304px;height:304px;">
</td>
</tr>
{{/each}}
</table> 
</div> 




